* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/95d76ae9-3f78-449f-aa76-7129108302f3/dcf03w5-8a1055a6-cfb3-488f-bce2-27d009c29333.png/v1/fill/w_1024,h_576,q_80,strp/minimalist_moogle_final_fantasy_by_artistroll_dcf03w5-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvOTVkNzZhZTktM2Y3OC00NDlmLWFhNzYtNzEyOTEwODMwMmYzXC9kY2YwM3c1LThhMTA1NWE2LWNmYjMtNDg4Zi1iY2UyLTI3ZDAwOWMyOTMzMy5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.HJQxlhY7IyI1bAPLhW5isTFzjLXnt8asqASWcrgaj1Q");
    background-size: cover;
    background-attachment: fixed;
    z-index: -10;
}

.moogleAPI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#particles-js {
    z-index: -10;
}

.container {
    border: solid #FFEBD0;
    background-color: #302358;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin: 1em;
    border-radius: 5px;
}

.spacer {
    display: flex;
    justify-content: space-between;
}

.characterContainer {
    display: none;
    margin-top: 20px;
}

.CharacterTitle {
    color: #fd2727;
}

.picture-container {
    display: none;
    justify-content: space-around;
}

.dummyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.a-char {
    border: solid black;
    height: 250px;
    width: 400px;
    background-color: white;
    padding: 20px;
}

.click-me {
    margin-top: 10px;
    width: 350px;
    height: 50px;
    background-color: #FFEBD0;
    color: #302358;
    font-style: oblique;
    font-weight: bolder;
}

.a-char-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* Navbar Elements */

.navbar {
    /* background-color: #111; */
    overflow: hidden;
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    height: 100%;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
}

.navbar li a {
    color: white;
    text-align: center;
    width: 200px;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.navbar li a:hover {
    background-color: #111;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 10;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: rgba(0, 0, 0, 0.8);
}

#mainbtn {
    position: relative;
    height: 100%;
    background-color: #FFEBD0;
    color: #FD9594;
    overflow: visible;
}

#mainbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 100%;
    background-color: #FFEBD0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

#mainbtn:hover,
#mainbtn:hover::before {
    color: #FFEBD0;
    background-color: #FD9594;
}

#endBtn {
    position: relative;
    height: 100%;
    background-color: #302358;
}

#endBtn::before {
    content: '';
    position: absolute;
    right: -30px;
    top: 0;
    width: 30px;
    height: 100%;
    background-color: #302358;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

#endBtn:hover,
#endBtn:hover::before {
    background-color: #fd2727;
}


/* End Navbar Elements */

.dashboard {
    display: none;
}